* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #333;
  overflow-x: hidden;
}

.v-header {
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
}

.container {
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}

.fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.fullscreen-video-wrap video {
  min-height: 100%;
  min-width: 100%;
}

.header-overlay {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  background: white;
  opacity: 0.45;
}

.header-content {
  z-index: 2;
}

.header-content h1 {
  font-size: 50px;
  margin-bottom: 0;
}

.header-content p {
  font-size: 1.5rem;
  display: block;
  padding-bottom: 2rem;
}

.btn {
  background: #34b3a0;
  color: #fff;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  text-decoration: none;
}

.section {
  padding: 20px 0;
}

.section-b {
  background: #333;
  color: #fff;
}

@media (max-width: 960px) {
  .container {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

.man {
  float: left;
  width: 400px;
  height: 400px;
}
.camel {
  width: 550px;
  height: 350px;
  float: right;
}
.clear {
  clear: both;
}

section {
  padding: 60px 0;
}

.descMan {
  align-content: center;
  padding-top: 200px;
}

.descCamel {
  align-content: center;
  padding-top: 150px;
}

section .section-title {
  text-align: center;
  color: black;
  margin-bottom: 50px;
  text-transform: uppercase;
}
#footer {
  background: white !important;
}
#footer h5 {
  padding-left: 10px;
  border-left: 3px solid black;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color: black;
}
#footer a {
  color: black;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  margin-left: 40%;
}
#footer ul.social li {
  padding: 3px 0;
}
#footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#footer ul.social li:hover a i {
  font-size: 30px;
  margin-top: -10px;
}
#footer ul.social li a,
#footer ul.quick-links li a {
  color: black;
}
#footer ul.social li a:hover {
  color: black;
}
#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700;
}
#footer ul.quick-links li a i {
  margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
  font-weight: 700;
}

@media (max-width: 767px) {
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.three {
  padding: 10px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.hehe {
  font-family: "Pacifico", cursive;
  font-size: 40px;
  color: white;
  text-shadow: -1px -1px 0 burlywood, 1px -1px 0 burlywood, -1px 1px 0 burlywood,
    1px 1px 0 burlywood;
}
@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Pacifico|Permanent+Marker|Shadows+Into+Light&display=swap");

.twoIcons {
  font-size: 125px;
  padding: 10px;
  color: burlywood;
  text-align: center;
  text-decoration: none;
}
.twoSent {
  color: black;
  color: burlywood;
  text-shadow: -1px -1px 0 burlywood, 1px -1px 0 burlywood, -1px 1px 0 burlywood,
    1px 1px 0 burlywood;
}
